langchain
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
chromadb
pypdf
google-generativeai
tiktoken
unstructured 
fastapi
uvicorn
python-multipart
python-dotenv
